# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc

# Archives
*.zip

# Node/Web
node_modules/
.DS_Store

# IDE
.vscode/
.idea/

